<div class="panel panel-primary">
    <div class="panel-heading">Erfasse Student</div>
        <%= render 'form', student: @student %>
    <div class="panel-body">
    </div>
</div>


<%= link_to 'Zurück', course_of_study_course_students_path, class: "btn btn-primary" %>
