<%= form_for(course_of_study) do |f| %>
  <% if course_of_study.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course_of_study.errors.count, "error") %> prohibited this course_of_study from being saved:</h2>

      <ul>
      <% course_of_study.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
