<p id="notice"><%= notice %></p>

<div class="panel panel-primary ">
  <div class="panel-heading">Course of studies</div>
  <div class="panel-body">
    <table class="table">
      <th>Name</th>
      <% @course_of_studies.each do |course_of_study| %>
      <tr>
        <td><%= course_of_study.name %></td>
        <td><%= link_to 'Anzeigen', course_of_study, class: "btn btn-info" %></td>
      </tr>
    <% end %>

    </table>
  </div>
</div>
<br>
