<div class="panel panel-primary">
    <div class="panel-heading">Erfasse neuen Studiengang</div>
    <div class="panel-body">
        <%= render 'form', course_of_study: @course_of_study %>
    </div>
</div>

<%= link_to 'Zurück', course_of_studies_path, class: "btn btn-primary" %>
