<p id="notice"><%= notice %></p>

<div class="panel panel-primary ">
  <div class="panel-heading">Kurse</div>
  <div class="panel-body">
    <table class="table">
      <th>Kursname</th>
      <th>Studiengang</th>
      <% @courses.each do |course| %>

        <tr>
          <td><%= course.name %></td>
          <td><%= course.course_of_study.name%></td>
          <td><%= link_to 'Anzeigen', course_of_study_course_path(course.course_of_study_id, course.id), class:"btn btn-info" %></td>
        </tr>

      <% end %>
    </table>
  </div>
</div>
<br>
