<h1>Editing Course</h1>

<%= render 'form', course: @course %>

<%= link_to 'Show', course_of_study_course_path(@course_of_study.id, @course.id) %> |
<%= link_to 'Back', course_of_study_courses_path %>
