<div class="panel panel-primary">
    <div class="panel-heading">Erfasse neuen Kurs</div>
    <div class="panel-body">
        <%= render 'form', course: @course %>
    </div>
</div>



<%= link_to 'Zurück', course_of_study_courses_path, class:"btn btn-primary" %>
