/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

#wrapper{
		 min-height:100%;
		 position: relative;
		 margin-left:10%;
		 margin-right:10%;
}


.content{
	 margin-top: 90px;
	 padding-bottom: 200px;
     .alert{
        z-index: 999;
        position: fixed;
        width: 50%;
     }

}

.navstyle {

	background-color: #101b27;


}



.navbar-default .navbar-nav li a {
			color: #FFFFFF;
			font-size: 15px;
			font-weight: 400;
			font-family: bariol, sans-serif;



}



.navbar-default .navbar-nav li a:hover {
			color: #5A95E5;


}

.navbar-btn{

		margin-right: 5px;
}

.navbar {

	padding:10px;


	.navbar-nav{
		display: inline;
	}
}

.navbar-default .navbar-nav .open a:focus {
	background-color: #101b27;
	color: #5A95E5;
}
